.fieldset {
	display: flex;
	flex-direction: column;
	border: none;
	gap: 0.6rem;
	margin: 0;
	padding: 0;
}

.legend {
	padding: 0;
	color: var(--color-text-secondary);
	font-size: 0.85rem;
	font-weight: 700;
	margin-bottom: 0.6rem;
}

.legendHidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
